* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

button, input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

html {
  color: var(--el-text-color-primary);
  background: var(--el-bg-color);
}

body {
  font-size: 14px;
  touch-action: manipulation;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
  text-decoration: none;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    text-decoration: none;
    color: var(--el-color-primary-light-3);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-danger {
  color: var(--el-color-danger);
}

.bg-color {
  background-color: var(--el-bg-color);
}

.color-primary {
  color: var(--el-color-primary);
}

.color-price {
  color: var(--amount-color);
}

.text-color {
  color: var(--el-text-color-primary);
}

.text-color-regular {
  color: var(--el-text-color-regular);
}

.text-color-hint {
  color: var(--el-text-color-secondary);
}

.font-bold {
  font-weight: bold;
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-2 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.h-4 {
  height: 4px;
}

.amount-color {
  color: var(--amount-color);
}

.color-warning {
  color: var(--el-color-warning);
}

.overflow-hidden {
  overflow: hidden;
}